# See http://help.github.com/ignore-files/ for more about ignoring files.

.cache-alpaminibox@gmail.com
minibox/__pycache__
.DS_Store
Thumbs.db
.idea/
.vscode/
.tox/
venv/
dist/
minibox.egg-info/
build/
